<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.herbify.herbifyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HerbifyApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.HerbifyApp" />
        <activity
            android:name=".ui.herbal_doc.QnaChatActivity"
            android:exported="false" />
        <activity android:name=".ui.herbal_talk.detail.DetailPostActivity"
            android:exported="false"/>
        <activity android:name=".ui.herbal_doc.DetailDoctorActivity"
            android:exported="false"/>
        <activity android:name=".ui.herbal_talk.ArticleCameraActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.auth.verification.VerifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.herbal_doc.SelectDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.herbal_doc.DoctorChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.herbal_pedia.BrewPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.herbal_pedia.HerbalPediaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.herbal_talk.add.AddNewPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>